@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  align-items: center;
  display: flex;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 290px;
}

h1,
p {
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  text-align: center;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}

h1 {
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-size: 20px;
}
.qrcard {
  background-color: hsl(0, 0%, 100%);
  padding: 13px;
  border-radius: 16px;
}
.qrcard img {
  width: 100%;
  border-radius: 9px;
}
